<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-title>
        Welcome
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="ion-align-items-center ion-justify-content-center" style="height: 100vh; display: flex; flex-direction: column;">
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-img src="../../../assets/splash.png" class="foto"
          style="width: 200px; height: 200px"></ion-img>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label>
        Chat de panas
      </ion-label>
    </ion-row>
  </div>
</ion-content>
